@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Ubuntu:wght@300&display=swap');

/*   ----- Variables  -----  */
:root {
  --brass: #88833D;
  --grey: #5A5D66;
  --light_grey: #D1D8ED;
  --light_grey_transp: rgba(209, 216, 237, .85);
  --teal: #427175;
  --baby_blue: #B6D4D9;
  --baby_blue_transp: rgba(182, 212, 217, .70);
  --forest_green: #41633C;
  --light_green: #9DC696;
  --light_green_transp: rgba(146, 230, 133, .60);
  --dark_green: #344F30;
  --teal_transp: rgba(66, 113, 117, .70);
}

/*  ----- Viewport ----- */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(images/trail_hike_woods.jpeg);
  color: var(--forest_green);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  line-height: 1;
  margin: 0 auto;
  padding: 2%;
  max-width: 850px;
}

/*  ----- Page layout blocks -----  */

header,
main,
section,
article,
footer {
  background-color: var(--light_grey_transp);
  color: var(--forest_green);
  border-radius: 10px;
  margin: 1% auto;
  padding: 2%;
}

main {
  border: 2px solid var(--brass);
}

header,
footer {
  background-color: var(--baby_blue_transp);
  border-style: solid;
  border-width: 3px;
  border-color: var(--brass);
}

footer p {

  background-color: var(--light_grey_transp);
  border-radius: 10px 0 10px 0;
  border: 2px solid var(--brass);
  padding: 10px 5px 10px 5px;
}

footer {
  clear: both;
}

section {
  border-style: solid;
  border-width: 3px;
  border-color: var(--brass);
}

article {
  margin: 0, auto;
  margin-left: 8%;
  padding: 20px;
  max-width: 650px;
  box-sizing: border-box;
  border: 3px solid var(--brass);
}

article li,
p {
  white-space: normal;
  word-wrap: break-word;
}

article dd,
li {
  padding: 5px;
}

strong {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

h1,
footer {
  display: flex;
  justify-content: center;
}

h2 {
  margin-left: 2%;
}

#hero-image {
  margin-left: 45%;
  height: 64px;
  width: 64px;
}

/*  ----- Navigations -----  */
nav {
  display: flex;
  justify-content: center;
}

.local-nav {
  display: flex;
  justify-content: space-between;
}

.local-nav a {
  background-color: var(--baby_blue_transp);
  text-align: left;
  border-radius: 5px;
  border: 2px solid var(--teal);
  font-size: 1em;
  padding: 3px 15px;
  margin: 1%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.local-nav li {
  margin-bottom: 20px;
}

nav a {
  background-color: var(--light_green_transp);
  border: 2px solid var(--brass);
  border-radius: 10px;
  color: var(--forest_green);
  font-size: 1.3em;
  margin-right: 3px;
  padding: 5px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--light_grey);
  color: var(--dark_green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
}

/*  ----- Gallery -----  */
.gallery {
  margin-left: 22%;
  display: flex;
  flex-flow: row wrap;
  border-style: none;
  padding: 2%;
  color: var(--forest_green);
  overflow: hidden;

}

.gallery figure {
  max-width: 30%;
  border: 1px solid var(--brass);
  margin: 10px 50px 10px 0;
}

.gallery img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.gallery figcaption {
  padding: 3px;
}

/*  ----- Anchors -----  */
a:link {
  color: var(--light_green); 
  text-decoration: none; 
}

a:hover {
  color: var(--brass); 
  text-decoration: underline; 
}

/*  -----  Typography  ----- */
/*
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  */
/*
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  */

/*  ----- Coding or instructional typography ----- */
/*
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  */
/*  ----- Table ----- */

table {
  border-collapse: collapse;
  height: 250px;
  width: 500px;
  margin: 1% auto;
}

caption {
  background-color: rgba(148, 5, 5, 0.5);
  border: 1px solid var(--grey);
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  padding: 1%;
}

thead {border-bottom: 1px solid var(--brass);}

tr td {
  border-bottom: 1px solid var(--brass);
  padding: 1%;
  text-align: left;
  color: var(--forest_green);
}

tr th {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  padding: 1%;
  text-align: left;
  color: var(--forest_green);
}

table img {
  width: 50px; 
  border: 2px solid var(--border-color);
}



/*  ----- Form ----- */

form,
input,
button,
textarea,
select {
  font-weight: bold;
  font-size: 95%;
  color: var(--dark_green);
  padding: 1%;
  font-family: inherit;
}

fieldset {

  border: 2px solid var(--grey);
  margin-top: 8px;
  padding: 5px;
}

legend,
option {
  background-color: var(--light_green);
  padding: 10px;
  color: var(--grey);
  font-size: 110%;
  border: 2px solid var(--grey);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.contact-p {
  size: 80%;
  margin-top: 20px;
  margin-left: 10px;
}

button {
  margin-left: 480px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--brass);
  border-radius: 20px 0 15px 0;
  border: 2px solid var(--dark_green);
  font-weight: bold;
  padding: 15px 10px 15px 10px;
}

select {
  margin-left: 10px;
}
input {
  padding: 2px;
  font-size: 110%;
  margin-left: 15px;
}

textarea {
  font-size: 75%;
  padding: 2px;
  width: 92%;
  height: 250px;
  color: var(--dark_green);
  margin-left: 15px;
}

:focus {
  border-radius: 10px 0 10px 0;
}

input::placeholder {
  color: var(--baby_blue);
  font-size: 70%;
}

*:required {
  border: 2px solid rgb(148, 5, 5);
}


/* ----- Media ----- */
/*
  figure {}
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  */
/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
/*
  .gallery {}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {} 
  */


@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */

@media all and (max-width: 800px) {
  .gallery {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  button,
  form,
  fieldset,
  input,
  .contact-p {
    margin: 2px auto;
    padding: 5px;
  }

  label {
    margin: 1%;
    padding: 1px;
    margin-left: 10px;
  }

  .gallery figure,
  img {
    max-width: 250px;
    font-weight: 1em;
  }
  
  table {
  height: 100px;
  width: 300px;
  }
}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */

@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */

@media print {}